body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: beige;
  }

  /* Carousel base class */
.carousel {
    height: 200px;
    margin-bottom: 1px;
  }
  .carousel-caption {
    z-index: 10; /* Since positioning the image, we need to help out the caption */
  }
  
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 200px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 200px;
  }
  .pan{
    margin: 0 !important;
  }
  .img1{
    display: inline;
  }
  .book{
    font-size: x-large;
  }
  .contact{
    font: 50rem;
  }
  form{
    margin-bottom: 3rem;
  }
  .foot{
    text-decoration: none;
  }